*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}
body{
    background: linear-gradient(rgba(68, 76, 87, 0.6),rgba(0,0,0,0.6)),url(../image/img.png);
    height: 100vh;
    -webkit-background-size:cover;
    background-size:cover ;
    background-position: center center;
    position: relative;
   }
   
   .wrapper{
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%,-50%);
       max-width: 800px;
       width: auto;
       padding: 25px;
      
   }

   #divFieldset{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 800px;
}


.wrapper h2{
       text-align: center;
       margin-bottom: 20px;
       color: #fff;
       font-size: 30px;
       width: 100%;
       letter-spacing: 2px;
}

.wrapper .error{
    margin-bottom: 5px;
    padding: 0px;
    background: #fff;
    font-size: 16px;
    transition: all 0.7s ease;
    width: 40%;
    text-align: left;
}

.form-area{
    display: flex;
    background: transparent  
}

.compte{
    display: flex;
    flex-direction: column;
    order: 1;
    padding: 1em;
    
}

.client1{
 display: flex;
 flex-direction: column;
 order: 2;
 padding: 1em;
    
}

.fieldset1{
 display: flex;
 width: 400px;
 height: 350px;
 resize: vertical;

 
}
.fieldset2{
 display: flex;
 width: 310px;
 height: 350px;
 padding-left: 20px;    
}


.fieldset3{
 display: flex;
 width: 400px;
 height: 350px;
 padding-right: 50px;
 padding-left: 20px;

}

.wrapper .btn{

    border: 3px solid #0d925f;
    margin-top: 358px;
    right: 500px;
    padding: 10px;
    width: 150px;   
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid #4caf50;
    background: none;
    color: #0d925f;
    border-radius: 40px;
    
    }

.btnNew{
 background: none;
 border: 1px solid #4caf50;
 cursor: pointer;
 border: 3px solid #0d925f;
 color: #fff;
 border-radius: 40px;
 font-size: 20px;
 margin-bottom: 10px;
 width: 150px;    
}
.btnOld{
 background: none;
 border: 1px solid #4caf50;
 cursor: pointer;
 border: 3px solid #0d925f;
 color: #0d925f;
 border-radius: 40px;
 font-size: 20px;
 color: #fff;
 width: 150px;  
 margin-bottom: 10px; 

}

.btnVerif{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.legend{
 color: #0d925f; 
 font-size: 20px;
}


#AncClient{
 display: none;
}

.frais{
 display: none;
 
}
.agio{
 display: none;
}

input{
    outline: none;
    transition: all 0.5s ease;
    font-size: 18px;
    width: 200px;
    float: right;
}
input:focus{
    outline: none;
    border-color: #0d925f;
}
select{
    font-size: 18px;
    width: 200px;
    float: right;
}

label{
    color: #fff;
    line-height: 40px;
    font-size: 18px;
    
   }
